<html>
    <head>
        <title>
            Suporte Financeiro
        </title>
    </head>
    <body>
        <center>
        <h1>
            Suporte Financeiro
        </h1>
        <a href="~/Cliente">
            <img src="~/imagens/FinancialSupport.jpg" width="50%">
        </a>
        </center>
    </body>
</html>
