@model FinancialSupport.Application.DTOs.UsuarioDTO

<h3>Exclusão de clientes</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3"> Nome do cliente: <br /> </dt>
        <dd class="col-sm-9"> @Html.DisplayFor(model => model.Nome) <br /> </dd>
        <dt class="col-sm-3"> Nome do arquivo da foto: <br /> </dt>
        <dd class="col-sm-9"> @Html.DisplayFor(model => model.Foto) <br /> </dd>
        <dt class="col-sm-3"> Limite total: <br /> </dt>
        <dd class="col-sm-9"> @Html.DisplayFor(model => model.Limite) <br /> </dd>
    </dl>
    <hr />

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Excluir
    </button>
    <a asp-action="Index" class="btn btn-info"> Voltar para a lista</a>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Cuidado!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Você tem certeza que deseja excluir este cliente, esta ação também excluirá seus empréstimos e parcelas?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Voltar</button>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" name="UsuarioAlteracao" value="@Context.User.Identity.Name" />
                        <input type="submit" value="Excluir" class="btn btn-danger" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
