@model FinancialSupport.Application.DTOs.UsuarioDTO
@{
    ViewData["Title"] = "Cadastramento de novo cliente";
}
<h2>@ViewData["Title"]</h2>

<form method="post" enctype="multipart/form-data" asp-controller="Cliente" asp-action="Create" method="post">
    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            <label asp-for="Nome" class="col-md-2 control-label">Nome Completo</label>
            <div class="col-md-10">
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>
        <br />

        <div class="form-group">
            <label asp-for="Limite" class="col-md-2 control-label">Limite total</label>
            <div class="col-md-10">
                <input asp-for="Limite" class="form-control" />
                <span asp-validation-for="Limite" class="text-danger"></span>
            </div>
        </div>
        <br />

        <div class="form-group">
            <div class="col-md-10">
                <input type="file" name="Arquivo" id="Arquivo" />
            </div>
        </div>

        <hr />
        <div class"form-group">
            <div class="col-md-offset-2 col-md-10">

                <input type="hidden" name="url" id="url" />
                <script>
                    var path = window.location.href;
                    document.getElementById("url").value = path;
                </script>

                <input type="hidden" name="UsuarioCriacao" value="@Context.User.Identity.Name" />
                <input type="submit" name="Enviar imagem" value="Cadastrar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info"> Voltar para a lista</a>
            </div>
        </div>

    </div>
</form>

