@model FinancialSupport.WebUI.ViewModels.Shared.CustomMessagePartialViewModel

@{
    if (@Model != null)
    {
        string tipoMensagemCss = string.Empty;

        switch (@Model.TipoMensagem)
        {
            case 1:
                tipoMensagemCss = "success";
                break;
            case 2:
                tipoMensagemCss = "warning";
                break;
            case 3:
                tipoMensagemCss = "danger";
                break;
        }

        <text>
            <div class="alert alert-@tipoMensagemCss" role="alert">
                @Model.Mensagem
            </div>
        </text>
    }
}