@if (Context.User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-capitaliza" asp-area="" asp-controller="Account" asp-action="Logout"
           stype="color: blue">@Context.User.Identity.Name - Logout</a> 
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-capitaliza" asp-area="" asp-controller="Account" asp-action="Login"
           stype="color: blue">Login</a> 
    </li>
}