@model FinancialSupport.Application.DTOs.ParcelaDTO
@{
    ViewData["Title"] = "Cadastramento de nova parcela";
}
<h2>@ViewData["Title"]</h2>
<form asp-action="Create" method="post">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="IdEmprestimo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IdEmprestimo" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="form-horizontal">
                <label asp-for="DataParcela" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="DataParcela" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ValorParcela" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ValorParcela" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DataPagamento" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="DataPagamento" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ValorPagamento" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ValorPagamento" class="form-control" />
                </div>
            </div>
            <hr />
            <div class"form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-info"> Voltar para a lista</a>
                </div>
            </div>
        </div>
    </div>
</form>