@model FinancialSupport.Application.DTOs.ParcelaDTO

<h3>Alteração de dados de parcelas</h3>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="IdEmprestimo" class="control-label"></label>
                <input asp-for="IdEmprestimo" class="form-control" />
                <span asp-validation-for="IdEmprestimo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataParcela" class="control-label"></label>
                <input asp-for="DataParcela" class="form-control" />
                <span asp-validation-for="DataParcela" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorParcela" class="control-label"></label>
                <input asp-for="ValorParcela" class="form-control" />
                <span asp-validation-for="ValorParcela" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPagamento" class="control-label"></label>
                <input asp-for="DataPagamento" class="form-control" />
                <span asp-validation-for="DataPagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorPagamento" class="control-label"></label>
                <input asp-for="ValorPagamento" class="form-control" />
                <span asp-validation-for="ValorPagamento" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="hidden" name="UsuarioAlteracao" value="@Context.User.Identity.Name" />
                <input type="submit" value="Gravar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info"> Voltar para a lista</a>
            </div>
        </form>
    </div>
</div>
