@using FinancialSupport.WebUI.ViewModels.Shared;
@model FinancialSupport.WebUI.ViewModels.RegisterViewModel

@{
    if (!Model.Equals(null))
        await Html.RenderPartialAsync("_CustomMessagePartial", new CustomMessagePartialViewModel() { TipoMensagem = @Model.CustomMessagePartial.TipoMensagem, Mensagem = @Model.CustomMessagePartial.Mensagem });
}

<h3>Criação de novo usuário</h3>

<div class="row">
    <div class="col-md-12">
        <form asp-controller="Account" asp-action="Register" method="post">
            <div asp-validation-summary="All" class="text-danger">
            </div>

            <div class="form-group">
                <label asp-for="Email">E-mail</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

@*            <div class="form-group">
                <label asp-for="Tipo">Tipo de usuário (USER ou ADMIN)</label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="Tipo">Tipo de usuário</label>
                <select asp-for="@Model.Tipo" class="form-control" asp-items="ViewBag.Tipo"></select>
@*              <input asp-for="Tipo" type="hidden" id="Tipo" name="Tipo" />
*@          </div>

            <div class="form-group">
                <label asp-for="Password">Senha</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
                        
            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirme a senha</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
@*            <button type="submit" class="btn btn-outline-dark" Register</button>
                <br />  
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-dark">Voltar</a>*@

            <div class="form-group">
@*              <input type="hidden" name="Email" value="@Context.User.Identity.Name" />*@
                <input type="submit" value="Criar usuário" name="Register" class="btn btn-primary" />
@*                <a asp-controller="Home" asp-action="Index" class="btn btn-info"> Voltar</a>*@
            </div>

        </form>
            
    </div>
</div>

@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
